<ion-header>

  <ion-navbar color="primary">
    <ion-title>Make  Appointment</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding text-center>
    <img src="assets/departs/{{department?.feature_graphic}}" style="height:100px !important; ; width:auto !important; ">
    <h3>{{department?.department_name}} Department</h3>
    <p>{{department?.department_tel_no}}</p>
    <p>{{department?.description}}</p>

    <div style="border-top:1px dashed rgb(148, 145, 145); padding :10px; ">
        <textarea #myInput id="myInput" rows="4" maxLength="600" (keyup)="resize()" placeholder="Type your Appointment description ..."
          name="appoint_body" [(ngModel)]="appoint_body">
        </textarea>
        <p class="error" *ngIf="error">Please type your message.</p>
        <div padding>
          <button ion-button block color="primary" outline (click)="make_appoiment( department )"> Set Appointment</button>
        </div>
    </div>
</ion-content>
