page-departments {

   #myInput {
     width: 100%;
     border: 1px solid #eee;
     border-radius: 3px;
     padding:10px;
     background: #efefef !important;
   }

   h3{
     color: #2078a2 !important;

   }

   .error{
    color:rgb(232, 117, 117);

  }

}
