<ion-content padding text-center>
<div class="afir"></div>
<div class="lofo">
    <form [formGroup]="myForm" (submit)="login()">
        
        <div class="bck">

            <ion-list class="body">
                <ion-item >
                    <ion-label floating>
                    <ion-icon name="person"></ion-icon> Email </ion-label>
                    <ion-input type="text" formControlName="email" [class.invalid]="myForm.controls.email.invalid"></ion-input>
                </ion-item>

                <ion-item >
                    <ion-label floating><ion-icon name="lock"></ion-icon> Password</ion-label>
                    <ion-input type="password" formControlName="password" [class.invalid]="myForm.controls.password.invalid"></ion-input>
                </ion-item>
            </ion-list>

            <ion-label (tap)="forgotPassWord()"> Forgot Password ?</ion-label> 

            <button ion-button block [disabled]="myForm.invalid">Login</button>
           
        </div>

    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <button outline color="secondary" ion-button block  (click)="signup()">Create account</button>
</div>

</ion-content>
