<ion-header>

  <ion-navbar color="primary">
      <ion-title>{{appointment_info?.organisation.organization_name}}</ion-title>    
  </ion-navbar>

</ion-header>

<ion-content >
    <ion-list class="list_item">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/departs/{{appointment_info?.department.feature_graphic}}">
          </ion-thumbnail>
          <h2>Appointment to :</h2>
          <p text-wrap>{{appointment_info?.department.department_name}} Department. Of {{appointment_info?.organisation.organization_name}}</p>
        </ion-item>
      </ion-list>
        <ion-card>
            <ion-card-header>
                Appointment Description
            </ion-card-header>
            <ion-card-content>
              {{appointment_info?.description}}
            </ion-card-content>
          </ion-card>
         
      <ion-card>
      
        <ion-card-content>
           Status: <span class="{{appointment_info?.status}}">{{appointment_info?.status}}</span>      
        </ion-card-content>
      </ion-card>
      <ion-grid>
          <ion-row class="butn">
              <ion-col col-6><button block ion-button outline (click)="editappointment(appointment_info)">Edit</button></ion-col>
            <ion-col col-6 ><button block ion-button color="danger" outline  (click)="cancelappointment(appointment_info)">Cancel</button></ion-col>
          </ion-row>
         
        </ion-grid>   
</ion-content>
<ion-footer>
  <button ion-button clear block (click)="go_back()">Return home</button>
</ion-footer>
