page-appointment {

    ion-list{
        margin:20px !important;
    }
    .butn{
        margin-bottom: 0px;
    }
    .are{
        
    }
    .content{
        background-color: #f1f1f1a8 !important;
    }

    .list_item{
        margin:10px !important;
    }
}
