
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Please provide the email address attached to your account to reset the password. Thank You!</p>
  <ion-list>
    <ion-item>
      <ion-label floating>Enter Your Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
  </ion-list>
  
  <div padding>
    <button ion-button block (click)="forgotPass()">Send Rest code</button>
  </div>
</ion-content>

