
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{user?.user_name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="first" >
    <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/head2.jpg">
          </ion-avatar>
          <h2>{{user?.user_name}}</h2>
          <p>{{user?.user_email}}</p>
          <p>{{user?.user_tel_no}}</p>
        </ion-item>
      </ion-list>
    </div>
      <div padding>
          <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="appointments">
              ({{appointments?.length}})  Appointments
            </ion-segment-button>
            <ion-segment-button value="profile">
              Profile
            </ion-segment-button>
          </ion-segment>
        </div>
        
        <div [ngSwitch]="pet">
          
            <ion-list *ngSwitchCase="'appointments'" padding>
                <ion-item *ngFor="let appointment of appointments" >
                  <ion-thumbnail item-start>
                    <img src="assets/departs/{{appointment.department.feature_graphic}}">
                  </ion-thumbnail>
                  <h2>{{appointment.organisation.organization_name}}</h2>
                  <h3>{{appointment.department.department_name}} Department.</h3>
                  <!-- <p>{{appointment.description}}.</p> -->
                  <p class="{{appointment.status}}">{{appointment.status}}.</p>
                  <button ion-button clear item-end (click)="move_to_appoimtment(appointment)"  *ngIf="(appointment.status=='Received')">View</button>
                </ion-item>
              </ion-list>
          <ion-list *ngSwitchCase="'profile'" padding>
              <form [formGroup]="myForm" (submit)="editprofile()">
                  <!-- <div style="background-color:rosybrown;"> -->
                  <div class="bck">

                      <ion-list class="body">
                          <ion-item >

                              <ion-label floating>
                              <ion-icon name="person"></ion-icon>name</ion-label>
        
                              <ion-input type="text" formControlName="name" [class.invalid]="myForm.controls.name.invalid"></ion-input>
                              </ion-item>
                      <ion-item >

                      <ion-label floating>
                      <ion-icon name="pin"></ion-icon>Location</ion-label>
                      <ion-input type="text" formControlName="location" [class.invalid]="myForm.controls.location.invalid"></ion-input>
                      </ion-item>
                      <ion-item >
                      <ion-label floating>
                      <ion-icon name="call"></ion-icon> Phonenumber </ion-label>

                      <ion-input type="text" formControlName="phonenumber" [class.invalid]="myForm.controls.phonenumber.invalid"></ion-input>
                      </ion-item>
                      <ion-item >

                      <ion-label floating>
                      <ion-icon name="mail"></ion-icon> Email </ion-label>

                      <ion-input type="text" formControlName="email" [class.invalid]="myForm.controls.email.invalid"></ion-input>
                      </ion-item>

                      
          
                      </ion-list>
                      <button ion-button block>Edit</button>
                     
          
                  </div>
          
              </form>
          </ion-list>
        </div>

</ion-content>
