page-profile {
    .first{
        background-image:linear-gradient( rgba(223, 219, 219, 0.5), rgba(23, 85, 179, 0.693)), url(../assets/imgs/bk1.jpeg) !important;
        padding: 10px;
        h2, p{
            color:#ffffff !important;
            font-weight: bold;
        }
    }

    .item{ 
       background: transparent !important;
    }

}
