<ion-header>

  <ion-navbar color="primary">
    <ion-title>Edit Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="info">NOTE : If you would like to change Organisation, Please make new appointment.</div>
    <ion-list>
      <ion-item>
        <h2>{{appointment.organisation.organization_name}}</h2>
        <h3>{{appointment.department.department_name}} Department.</h3>
        <p text-wrap>{{appointment.description}}.</p>
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
          <ion-label>Change Department</ion-label>
          <ion-select [(ngModel)]="department">
            <ion-option *ngFor="let depart of departments" value="{{depart.department_id}}">{{depart.department_name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
     

      <div padding>
        <textarea #myInput id="myInput" rows="4" maxLength="600" (keyup)="resize()" placeholder="Type your Appointment description ..."
          name="appoint_body" [(ngModel)]="appoint_body"></textarea>
        <button block ion-button (click)="fecund_save()" block>Save Changes</button>
      </div>
     
</ion-content>
