  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>OnTime</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="profile()">
              <ion-icon name="person"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-card>
      <ion-card-content>
        <ion-list details no-lines>
          <ion-item>
            <ion-icon name="pulse" item-start style="font-size:30px;"></ion-icon>
            <h6>EMERGENCY</h6>
            <p text-wrap >For Emergency please call us here</p>
            <button ion-button clear item-end (tap)="dail_number()"><ion-icon name="call"></ion-icon></button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item-group>
        <ion-item-divider text-center color="light">Top Departments</ion-item-divider>
      </ion-item-group>
    </ion-list>
    <ion-grid class="dbody"  text-center>
      <ion-row>
        <ion-col col-6 *ngFor="let department of departments" class="dbody1" (tap)="setappointment(department)">
          <img src="assets/departs/{{department.feature_graphic}}" alt="">
          <p text-center>{{department.department_name}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
