page-home {
    ion-icon{
        font-size: 32px;
    }

    p{
        text-align: Justify;
        margin-top: 0px;
    }

    h3{
        text-align: center;
    }
    h6{
        margin-top:1px !important; 
        margin-bottom:1px !important; 
    }
    .slides{
        height: 50vh !important;
        
    }
    
    ion-slides {
        margin-top: 15px;
    }
   .dbody1{
       border:5px solid #ffffff;
       background-color: #e9f4f5;

    
   }
   .label{
       margin-top:0px;
   }
}
