// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

button {
    text-transform: capitalize !important;
}

.Received {
color: orange !important;
font-weight: bold !important;
}

.Cancelled {
color: #555 !important;
font-weight: bold !important;
}

.Approved {
color: green !important;
font-weight: bold !important;
}

.Declined {
color: red !important;
font-weight: bold !important;
}

.info{
    background: rgba(65, 105, 225, 0.2);
    color:royalblue !important;
    padding:10px;
    border:1px solid royalblue;
}
