page-signup {

    .body{
        margin-top:50px !important;
        margin-bottom:50px !important;
        
    }
    .inputcover{}
        // background-color: #ffffff    }
    

    .content{
        // background-color: darkslategray !important;
        background-image: url('../assets/imgs/hot.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-clip: padding-box;
    }
    .afir {
        display: inline-block;
        // margin-left: 5px;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        margin: 0 auto !important;
        // border: 2px solid black;
        
            background-image: url('../assets/imgs/hospitals.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-clip: padding-box;
        
        
    } 
    .bck{
    background-color: rgba(0, 0, 0, 0.727);
    padding:10px;
    margin-top :50px;
    margin-left :0px;
        
    }

    .item{
        background-color:transparent !important;
        
    }
    .label{
        color: primary !important;
    }

    button{
        ion-icon{
            font-size:50px;
            border-radius: 50%;
        }
    }
    .text-input{
        color:#efefef !important;
    }
}
