<!--
Generated template for the LoginPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

        
        
        </ion-header>
        
        <ion-content padding text-center>
            <h2 style="margin-top:20px">OnTime</h2>
        <!-- <div class="afir"></div> -->
        <div class="lofo">
            <form [formGroup]="mysignupForm" (submit)="create_account()">
                <!-- <div style="background-color:rosybrown;"> -->
                <div class="bck">
        
                    <ion-list class="body" >
                        <ion-item >
        
                        <ion-label floating>
                            <ion-icon name="person"></ion-icon> Name</ion-label>
        
                        <ion-input type="text" formControlName="name" [class.invalid]="mysignupForm.controls.name.invalid"></ion-input>
                        </ion-item>
                        <ion-item >
                                <ion-label floating>
                                        <ion-icon name="person"></ion-icon> Phone number </ion-label>
                    
                                    <ion-input type="text" formControlName="phonenumber" [class.invalid]="mysignupForm.controls.phonenumber.invalid"></ion-input>
                                    </ion-item>
                                    <ion-item >
        
                        <ion-label floating>
                                    <ion-icon name="mail"></ion-icon> Email </ion-label>
                
                                <ion-input type="text" formControlName="email" [class.invalid]="mysignupForm.controls.email.invalid"></ion-input>
                                </ion-item>
         
                        <ion-item >
                        <ion-label floating><ion-icon name="lock"></ion-icon> Password</ion-label>
        
                        <ion-input type="password" formControlName="password" [class.invalid]="mysignupForm.controls.password.invalid"></ion-input>
                        </ion-item>
        
                    </ion-list>
        
                    <button ion-button block [disabled]="mysignupForm.invalid">Signup</button>
                   
        
                </div>
        
            </form>
            <button ion-button block clear (click)="login()">login</button>
        </div>
        </ion-content>